extends layout/app

block styles
  link(rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css")

block contenido
  section(class="py-3")
    h1(class="text-center text-3xl sm:text-4xl font-extrabold")= pagina
    h4(class="font-bold text-sm uppercase text-gray-800") Filtrar propiedades:
    nav(class="grid grid-cols-1 md:grid-cols-2 gap-2" id="filterbox")
      div(class="w-full md:w-auto flex items-center gap-2")
        label(for="categorias" class="text-sm w-24 uppercase text-gray-500") Categorías
        select#categorias(class="flex-1 w-full bg-white px-3 py-2 border border-gray-300 rounded-md shadow-md") 
          option(value="") - Selecciona -
          each categoria in categorias
            option(value=categoria.id)= categoria.nombre
      div(class="w-full md:w-auto flex items-center gap-2")
        label(for="categorias" class="text-sm w-24 uppercase text-gray-500") Precios
        select#precios(class="flex-1 w-full bg-white px-3 py-2 border border-gray-300 rounded-md shadow-md") 
          option(value="") - Selecciona -
          each precio in precios
            option(value=precio.id)= precio.nombre
    div(id="mapaHome" class="h-96 md:h-[600px] mt-5")
  
  section.py-5
    h2.text-center.text-4xl.font-extrabold.py-10.pb-5 Casas en venta
    div(class="flex flex-col sm:flex-row flex-wrap items-start")
      each casa in casas
        //- pre= JSON.stringify(casa, undefined, 3)
        article(class="px-5 w-full sm:w-1/2 md:w-1/3 flex justify-center relative my-2 h-[630px]")
          p.absolute.flex.flex-wrapright-0.top-2.text-xs.text-center.z-20.font-semibold(class="w-1/2 bg-white/50 backdrop-blur-sm rounded-b-md px-2")= casa.precio.nombre
          .max-w-xs.rounded-lg.bg-white.p-2.shadow.flex.flex-col.justify-between
            img.w-full.rounded-lg.object-cover.object-center(src=`/uploads/${casa.imagen}` alt= casa.titulo class="h-72")
            div.flex.flex-col.justify-between
              .my-6.flex.items-center.justify-between.px-4
                p.font-extrabold.text-gray-500.text-balance.line-clamp-2.whitespace-pre-wrap= casa.titulo
              .my-4.flex.items-center.justify-between.px-4
                p.text-sm.font-semibold.text-gray-500 Habitaciones
                p.rounded-full.bg-gray-200.px-2.text-xs.font-semibold.text-gray-600(class='py-0.5')= casa.habitaciones
              .my-4.flex.items-center.justify-between.px-4
                p.text-sm.font-semibold.text-gray-500 Baños
                p.rounded-full.bg-gray-200.px-2.text-xs.font-semibold.text-gray-600(class='py-0.5')= casa.wc
              .my-4.flex.items-center.justify-between.px-4
                p.text-sm.font-semibold.text-gray-500 Estacionamiento
                p.rounded-full.bg-gray-200.px-2.text-xs.font-semibold.text-gray-600(class='py-0.5')= casa.estacionamiento
              .my-4.flex.items-center.justify-between.px-4
                a.w-fit.select-none.rounded-lg.bg-pink-500.py-3.px-6.text-center.align-middle.font-sans.text-xs.font-bold.uppercase.text-white.shadow-md.transition-all(class='shadow-pink-500/20 hover:shadow-lg hover:shadow-pink-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none' href=`/propiedades/propiedad/${casa.id}`)
                  | Leer más

          
          



block scripts
  script(src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js")
  script(src="/js/Mapahome.js") 
