article(class="p-2 w-full sm:w-1/2 md:w-fit flex-1 justify-between relative my-2 h-[620px] flex-wrap bg-white rounded-lg")
  p.flex.flex-wrap.h-fit.text-center.top-2.text-xs.z-20.font-semibold(class="bg-white/60 backdrop-blur-sm rounded-b-md px-2 absolute w-3/5 lg:w-auto self-center")= propiedad.precio.nombre
  .flex.flex-col.justify-between.w-full
    //- img.w-full.rounded-lg.object-cover.object-center(src= propiedad.imagenes[0].ruta alt= propiedad.titulo class="h-72")
    div.flex.flex-col.justify-between.flex-1
      .my-6.flex.items-center.justify-between.px-4
        p.font-extrabold.text-balance.line-clamp-1.whitespace-pre-wrap(class="text-[#4C4B16]")= propiedad.titulo
      .my-4.flex.items-center.justify-between.px-4
        p.text-sm.font-semibold.text-gray-500 Habitaciones
        p.rounded-full.bg-gray-200.px-2.text-xs.font-semibold.text-gray-600(class='py-0.5')= propiedad.habitaciones
      .my-4.flex.items-center.justify-between.px-4
        p.text-sm.font-semibold.text-gray-500 Baños
        p.rounded-full.bg-gray-200.px-2.text-xs.font-semibold.text-gray-600(class='py-0.5')= propiedad.wc
      .my-4.flex.items-center.justify-between.px-4
        p.text-sm.font-semibold.text-gray-500 Estacionamiento
        p.rounded-full.bg-gray-200.px-2.text-xs.font-semibold.text-gray-600(class='py-0.5')= propiedad.estacionamiento
      .my-4.flex.items-center.px-4
        a.w-fit.select-none.rounded-lg.bg-pink-500.py-3.px-6.text-center.align-middle.font-sans.text-xs.font-bold.uppercase.text-white.shadow-md.transition-all(class='shadow-pink-500/20 hover:shadow-lg hover:shadow-pink-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none' href=`/propiedades/propiedad/${propiedad.id}`)
          | Leer más