extends ../layout/app
include ../templates/paginador

block contenido
  .h1(class="text-background text-center text-2xl font-bold mt-10")= pagina
  .flex.pt-10
    a(class="sm:max-w-[450px] lg:max-w-[500px] m-auto bg-background px-10 sm:px-20 py-2 focus:outline-none focus:delay-75 focus:ring-4 focus:ring-opacity-75 text-xs md:text-base ring-yellow-200 w-4/5 sm:w-2/3 text-center md:w-auto md:mb-5 rounded-md text-primary font-bold hover:skew-y-1 transition-all hover:duration-75" href="/propiedades/crear") Publica una propiedadðŸ 

  //- pre= JSON.stringify(propiedades, undefined, 3)
  if propiedades.length
    div(class="w-full flex justify-center gap-2 flex-wrap pt-10 pb-20")
      each propiedad in propiedades
        article(class="bg-white w-4/5 sm:w-2/3 h-full sm:h-[460px] max-w-[425px] md:w-2/5 lg:w-1/3 rounded-md overflow-hidden border-2 border-gray-300 hover:border-background hover:shadow-xl")
          div(class="flex h-1/2 relative")
            img(loading="lazy" src= propiedad.imagenes.length > 0 ? propiedad.imagenes[0].ruta : "https://res.cloudinary.com/dakerpersonalspace/image/upload/v1707755538/kgzjptrvcz3xcmlgmclt.webp" alt=`Imagen para la propiedad ${propiedad.titulo}` class="block w-full flex-grow basis-0")
            p(class="absolute top-2 left-2 flex items-center text-ellipsis font-bold whitespace-pre-line overflow-hidden text-sm bg-white/20 backdrop-blur rounded-md px-4 py-1")
              include ../svg/propiedadSVG
              = propiedad.categoria.nombre
            a(class=`absolute right-2 top-2 z-10 cursor-pointer  backdrop-blur-md rounded-full p-2 flex ${propiedad.mensajes.length < 1 ? "text-white bg-slate-700/60" : "text-green-600 bg-green-100"}` href=`/propiedades/mensajes/${propiedad.id}`)
              if propiedad.mensajes.length < 1
                include ../svg/emptyMessage
              else
                include ../svg/fullMessage
                p.text-red-500.font-semibold= propiedad.mensajes.length
          div(class="space-y-3 p-3 truncate flex flex-col justify-between h-1/2 ")
            div(class="h-fit w-full whitespace-pre-wrap")
              a(class="text-base sm:text-lg font-bold text-primary" href=`propiedades/propiedad/${propiedad.id}`)= "âž¡ï¸ "+propiedad.titulo
              p(class="text-xs w-fit flex line-clamp-1  text-secondary font-semibold")= propiedad.descripcion

            div(class="flex flex-col text-sm h-full")
              p(class="text-ellipsis font-semibold whitespace-pre-line overflow-hidden flex text-primary")= propiedad.precio.nombre
              p(class=" font-semibold text-gray-600")= propiedad.calle
            div(class="flex gap-2 sm:w-auto flex-col sm:flex-row sm:justify-center")
              button(type="button" data-propiedad-id=propiedad.id class=`cambiar-estado px-2 py-2 md:py-1 text-xs w-full sm:w-auto leading-5 font-semibold rounded-md cursor-pointer ${propiedad.publicado ? 'bg-green-200 text-green-800' : 'bg-orange-200 text-orange-800'}`)= propiedad.publicado ? 'Publicado' : 'No publicado'
              a(href=`propiedades/editar/${propiedad.id}` class="px-2 py-2 md:py-1 text-center text-xs leading-5 font-semibold rounded-md cursor-pointer bg-blue-200") Editar

              form(method="post" action=`/propiedades/eliminar/${propiedad.id}`)
                //- input(type="hidden", name="_csrf" value= csrfToken)
                input(type="submit" class="px-2 py-2 md:py-1 text-xs w-full sm:w-auto leading-5 font-semibold rounded-md cursor-pointer bg-red-200 text-red-800" value="Eliminar")
    +paginador('/propiedades')

  else
    p.text-center.font-bold.text-2xl.mt-10(class="text-background") No hay propiedades

block scripts
  script(type="module" src="/js/cambiarEstado.js") 