extends ../layout/app

block contenido
  section.py-5
  h1.text-center.text-2xl.font-semibold.text-background= pagina

  if propiedades.length
    div(class="flex flex-col sm:flex-row flex-wrap items-center gap-x-3 justify-center mb-16")
      each propiedad in propiedades
        include ../templates/card
    div(class="fixed w-full bottom-0 inset-x-0 bg-white/0 backdrop-blur-2xl p-2 flex items-center justify-evenly border-t border-gray-400 sm:px-6 overflow-x-auto gap-2")
      div(class="flex flex-1 justify-between sm:hidden")
        
        a(href=`/propiedades/explorar?pagina=${paginaActual - 1}` class=`${paginaActual == 1 ? 'pointer-events-none bg-pink-50 border-pink-500 text-pink-500 hover:bg-pink-200' : ""} `+" relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50") Anterior

        a(href=`/propiedades/explorar?pagina=${paginaActual + 1}` class=`${paginaActual + 1 > paginas ? 'pointer-events-none bg-pink-50 border-pink-500 text-pink-500 hover:bg-pink-200' : ""}`+"relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50") Siguiente
      div(class="hidden sm:flex w-2/5 sm:flex-1 sm:items-center sm:justify-between")
        p(class="text-xs md:text-md lg:text-lg text-pink-800 gap-2") Mostrando de 
          span(class="font-bold text-pink-800") #{offset + 1} 
            span.font-normal a 
          span(class="font-bold") #{limit * paginaActual < total ? limit * paginaActual : total} propiedades   
            span.font-normal de 
          span(class="font-bold") #{total} encontradas.
      div(class="hidden sm:block overflow-auto w-3/5")
        nav(class="z-0 flex justify-center rounded-md space-x-2")
          - var n = 1;
            while n <= paginas
              a(href=`/propiedades/explorar?pagina=${n}` class=`${paginaActual == n ? 'bg-pink-50 border-pink-500 text-pink-500 hover:bg-pink-200' : 'bg-white border border-gray-400 hover:bg-gray-100'} relative inline-flex items-center px-4 py-1 border text-sm font-medium rounded-sm shadow-2xl`) #{n++}
  else
    p(class="mx-auto w-full text-center mt-10")
      |  No hay propiedades en esta categoría